html,body{
    height: 100%;
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main{
    display: flex;
    width: 100%;
    height: 100%;
}
#left{
    width: 70%;
    height: 100%;
    
}
#right{
    width: 30%;
    height: 100%;
}
#ul{
    position: relative;
    height:70% ;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1466781783364-36c955e42a7f?q=80&w=871&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size:cover;
}
#ur{
    height:70% ;
    width: 100%;
    background-color: white;
}
#ll{
    padding: 5% 10%;
    height: 30%;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.781);
}
#lr{
    height: 30%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1504198266287-1659872e6590?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 60px 20px;
    display: flex;
}
#rec {
    padding: 10px;
}
#rec h5{
    font-size: 17px;
}
#rec p{
    margin-top: 3px;
}
#rec{
    margin-top: 40px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
}
#content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    color: white;
}
#lc{width: 35%;
    height: 100%;
}
#rc{width: 45%;
    height: 100%;
}
.lele{
    
    display: flex;
}
.rele{
    
    display: flex;
}
.text{
    margin-left: 10px;  
}
.text h6{
    opacity: .5;
    font-weight: 500;
}
.element{
    justify-content: space-between;
    margin-top: 10px;
    display: flex;
}
#ur{
    padding: 70px;
    display: flex;
    flex-direction: column;
    position: relative;
}
#ur a{
    margin-bottom: 30px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
    text-transform: uppercase;
    font-family: "Montserrat";
    letter-spacing: 8px;

    
}
#ur #selected::before{
    content: "-";
    font-size: 30px;
}
#icon{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 30px;
    font-size: 180%;
}
#bf{
    background-image: url(https://images.unsplash.com/photo-1533038590840-1cde6e668a91?q=80&w=387&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    height: 100px;
    width: 100px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: cover;
    background-position: bottom;
    
}
#bf i{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.534);
    border-radius: 50%;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.89);
}
#ul i{
    position: absolute;
    bottom: 0%;
    right: 0%;
    background-color: rgba(255, 255, 255, 0.404);
    font-size: 60px;
    font-weight: 40%;
}
